.inline-block {
    display: inline-block;
    vertical-align: top;
    display: flex;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
    list-style-type: none;
}
.heroImg {
    height: 600px;
    padding: 25px;
    width: 1005px;
}
.heroImg p {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    margin-top: 200px;

}

footer {
    display:block;
    background-color: #e0ebff;
    margin-top: 50px;
    width: 100%;
}
.box {
    width: 720px;
    height: 471px;
    background-color: #5a94ff;
    margin-left: 139px;
    margin-bottom: 86px;
    display: flex;
    flex-direction: column;
}
.box .email a{
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    text-decoration: none;
}
.box p {
    margin-left: 41px;

}
.collaborate {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

li {
    float: right;
}
li a {
    display: inline;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
}

.heroImg h1 {
    margin-bottom: 75px;
}
.heroImg .content img {
    margin-left: 231px;
    float: left;
    padding: 15px;
}

.myStory {
    display:flex;
    width: 904px;
    height: 792px;
    background-color: white;
}
.story {
    flex-direction: column;
    margin-left: 139px;
    justify-content: center;
    margin-bottom: 55px;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
}
h1 {
    margin-left: 139px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.content p {
    margin-left: 139px;
}
.seemywork, .contactme {
    margin-left: 139px;
    margin-top: 20px;
    background-color: #fa8072;
    height: 52px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    width: 184px;
}
.resume{
    background-color: #fa8072;
    height: 52px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    width: 184px;
    margin-top: 20px;

}
.copyright {
    text-align: center;
    margin-bottom: 10px;
}
